name: Build

on:
  pull_request:
    branches: ['main']
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'

jobs:

  build:
    defaults:
      run:
        working-directory: image/git-init

    name: Build ${{ matrix.go-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "image/git-init/go.mod"
          cache-dependency-path: "image/git-init/go.sum"

      # FIXME: figure out how to configure or use golangci-lint
      # - uses: golang/govulncheck-action@dd3ead030e4f2cf713062f7a3395191802364e13 # v1
      #   with:
      #     go-package: ./image/git-init/...
      #     go-version-input: ${{ matrix.go-version }}

      - run: |
          go build ./...
          go test -run=^$ ./...
